<!DOCTYPE html>
<!--todo-->
<!--show list when click news, articles, research-->


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMENS LAB</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="css/font/stylesheet.css">

    <!--css-->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!--function-->
    <script src="js/functions.js"></script>
</head>


<body>
    <div class="container">

        <header>
            search/
        </header>

        <div class="contentContainer">
            <nav class="mainNav">
                <div class="navContainer">
                    <div class="list" id="news">News</div>
                    <div class="listContainer" id="newsListContainer">
                        <table>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="navContainer">
                    <div class="list" id="research">Research</div>
                    <div class="listContainer" id="researchListContainer">
                        <table>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="navContainer">
                    <div class="list" id="article">Articles</div>
                    <div class="listContainer" id="articleListContainer">
                        <table>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="navContainer">
                    <div class="list" id="vendors">Vendors</div>
                    <div class="listContainer" id="vendorsListContainer"></div>
                </div>
                <div class="navContainer">
                    <div class="list" id="programs">Programs</div>
                    <div class="listContainer" id="programsListContainer"></div>
                </div>
            </nav>

            <div class="textContainer">
                <div class="expandImg">X</div>
            </div>
        </div>
    </div>
</body>

</html>